.lock {
    pointer-events: none;
}

* {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
}

/*¼ÓÔØÒ³*/
.page-loading {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 40;
    background: #fff;
}

.page-loading .border {
    font-size: 100px;
    width: 1em;
    height: 1em;
    position: relative;
    margin: 60% auto auto auto;
    border-radius: 50%;
    list-style: none;
}

.page-loading .border li {
    position: absolute;
    width: .2em;
    height: .2em;
    border-radius: 50%;
}

.page-loading .border li:nth-child(1) {
    left: 50%;
    top: 0;
    margin: 0 0 0 -.1em;
    background: #feb963;
    -webkit-transform-origin: 50% 250%;
    -webkit-animation: spin 1.13s linear infinite, opa 3.67s ease-in-out infinite alternate;
}

.page-loading .border li:nth-child(2) {
    top: 50%;
    right: 0;
    margin: -.1em 0 0 0;
    background: #f86260;
    -webkit-transform-origin: -150% 50%;
    -webkit-animation: spin 1.86s linear infinite, opa 4.29s ease-in-out infinite alternate;
}

.page-loading .border li:nth-child(3) {
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -.1em;
    background: #49b2e1;
    -webkit-transform-origin: 50% -150%;
    -webkit-animation: spin 1.45s linear infinite, opa 5.12s ease-in-out infinite alternate;
}

.page-loading .border li:nth-child(4) {
    top: 50%;
    left: 0;
    margin: -.1em 0 0 0;
    background: #feb95d;
    -webkit-transform-origin: 250% 50%;
    -webkit-animation: spin 1.72s linear infinite, opa 5.25s ease-in-out infinite alternate;
}

.container, .page {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

/*Ðý×ª¶¯»­*/
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
    }
}

@-webkit-keyframes opa {
    0% {
    }
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}